{{define "title"}}Upsilon Garden: Garden#Index{{end}}
{{define "content"}}

<h1>Upsilon Garden: Garden#Index</h1>

<ul>
    {{range .}}
    <li class="arc garden_row">
        <a href="gardens/{{.ID}}">To Garden: {{.Name}}</a>
        <a class="action action_dangerous action_drop_garden" href="#" data-garden-id="{{.ID}}">Drop Garden</a>
    </li>
    {{end}}
</ul>

<h2> Create a new Garden</h2>
<form method="POST" action="/gardens">
    <label for="name">Garden's name:</label>
    <input type="text" name="name" id="name" ></input>
    <input type="submit" value="Create"/>
</form>

{{end}}