{{define "title"}} {{.Name}} Garden {{end}}
{{define "content"}} 

<h1>{{.Name}} Garden</h1>
<h3><a href="/gardens">Back</a></h3>

<ul style="list-style-type:none;">
    <li>
        <ul class="parcel">
            <li class="parcel_item">#</li>
            <li class="parcel_item">Has Plant?</li>
            <li class="parcel_item">Base Hydro</li>
            <li class="parcel_item">Current Hydro</li>
            <li class="parcel_item">Next Hydro End Date</li>
            <li class="parcel_item">Hydro Status</li>
            <li class="actions">Actions</li>
        </ul>
    </li>
    {{range .Parcels}}
        <li class="arc">
            <ul class="parcel">
                <li class="parcel_item">{{.Position}}</li>
                <li class="parcel_item">{{ if ne .PlantID 0 }}
                    <!-- 
                        <a href="/gardens/{{$.ID}}/plants/{{.PlantID}}">To Plant</a>
                    -->
                    {{ with $.PlantByID .PlantID}}
                        Plant: {{ .Name }} (Lvl: {{.Level}}; SP: {{.SpCurrent}}/{{.SpMax}})
                    {{ end }}
                    {{- else}}No Plant{{end}}</li>
                <li class="parcel_item">{{.BaseHydroLevel}}</li>
                <li class="parcel_item">{{.CurrentHydroLevel}}</li>
                <li class="parcel_item">{{ if .HasNextHydroEndDate }}{{.NextHydroEnd}}{{end}}</li>
                <li class="parcel_item hydro_status" data-parcel-id="{{.ID}}"></li>
                <li class="actions">{{ if eq .PlantID 0 }}<a class="action action_plant action_add_plant" href="#" data-garden-id="{{$.ID}}" data-parcel-id="{{.ID}}">Add Plant</a>
                    {{- else}}
                    <a class="action action_dangerous action_drop_plant" href="#" data-garden-id="{{$.ID}}" data-plant-id="{{.PlantID}}">Drop Plant</a>
                    {{- end}}
                    <a class="action action_water " href="#" data-parcel-id="{{.ID}}" data-garden-id="{{$.ID}}">Water Parcel</a>
                    <a class="action action_get_water " href="#" data-parcel-id="{{.ID}}" data-garden-id="{{$.ID}}">Hydro Status</a>
                </li>
            </ul>
        </li>
    {{end}}
</ul>

{{end}}