{{define "base"}}
<html>
<head>
    <title>{{block "title" .}} {{end}}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
        {{template "content" .}}

        <script src="/static/js/app.js"></script>
</body>
</html>
{{end}}