/*
    CSS For Garden App GO
*/

body {
    width: 100%;
}

.parcel {
    display: flex;
    list-style-type: none;
    width: 100%;
}

.garden_row {
    display: flex;
    justify-content: space-between;
}


.parcel li{
    width: 150px;
    list-style-type: none;
}